Repository facelessuser/wcmatch, pull requests merged in 2024-05, with the labels that each got.

#215 Fix build environment and make adjustments for Python 3.13
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  pyproject.toml
  wcmatch/pathlib.py
  wcmatch/util.py
Labels: S: approved, C: pathlib, C: infrastructure, C: source

#216 Better inheritance for pathlib
  wcmatch/pathlib.py
Labels: S: approved, C: pathlib, C: source

#217 Fix wcmatch docs: SYMLINK => SYMLINKS
  docs/src/markdown/wcmatch.md
Labels: C: docs, S: approved

#219 Fix extmatch negation case
  docs/src/markdown/about/changelog.md
  tests/test_fnmatch.py
  wcmatch/__meta__.py
  wcmatch/_wcparse.py
Labels: C: docs, C: fnmatch, S: approved, C: tests, C: source, C: pattern-parser
